.body {
  width: auto;
  max-width: 95%;
  margin: auto;

}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 400px;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  button.selected {
    background-color: black;
    color: white;
  }
