<div class="body">
  
  <h2>Mes Pièces</h2>

<p >{{messageChild}}</p>  
  <div class="d-flex flex-row justify-content-center flex-wrap">
    <div *ngFor="let piece of filteredPieces() " class="p-2" >
        <div class="card bg-light mb-3" class="gallery" >
          <div class="card-header" >
            <a routerLink="/detail/{{piece.id}}" ><h5>{{piece.id}} : {{piece.name | uppercase}}</h5></a>         
          </div>
          <div class="d-block user-select-none">
            <a target="_blank" href="{{piece.photo}}">
              <img src="{{piece.photo}}" alt="{{piece.name}}" width="600" height="400">
            </a>
          </div>
          <div class="card-body">
            <p class="card-text">{{piece.desc}}</p>
          </div>
          <div class="card-body">
            <h5>Note:</h5>
            <p class="card-text">{{piece.note}}/10</p>
          </div>
      </div>

    </div>
  </div>
  
 <div>
  <label for="new-piece">Nom du personnage: </label>
  <input id="new-piece" #pieceName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(pieceName.value); pieceName.value=''">
    Ajouter
  </button>
 </div>


</div>




   